* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #141414;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 30px;
}

ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    background: #333;
    transition: 0.5s;
}

ul li a i {
    font-size: 50px;
    color: #666;
    transition: 0.5s;
}

ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transform: scale(0.9);
    z-index: -1;
    transition: 0.5s;
}

ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
}

ul li a:hover i {
    color: #ffee10;
}
